<ion-header [translucent]="true">
  <ion-toolbar mode="md" color="success">
      <ion-title> 
        {{ formTitle }}
      </ion-title>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="true"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>
       Persentase Alat Terkalibrasi
    </ion-card-header>
    <ion-card-content>
        <canvas #persentaseKalibrasiCanvas style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
        Jumlah Alat per Pemilik
    </ion-card-header>
    <ion-card-content>
        <canvas #pemilikAlatCanvas></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
