<ion-header [translucent]="true">
  <ion-toolbar mode="md" color="success">
      <ion-title>
          {{formTitle}}
      </ion-title>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid [fixed]="true">
    <ng-container [ngSwitch]="roles" >
      <ng-container *ngSwitchCase="'ADMIN'" [ngTemplateOutlet]="nameDefault"></ng-container>
      <ng-container *ngSwitchCase="'KATIM'" [ngTemplateOutlet]="nameDefault"></ng-container>
      <ng-container *ngSwitchCase="'BPFK'" [ngTemplateOutlet]="nameDefault"></ng-container>
      
      <ng-template #nameDefault>
        <ion-row>
          <ion-col>
            <ion-label class="ctm-font-2">Pilih Instalasi</ion-label>
            <ion-list>
                <ion-item>
                    <ion-select placeholder="Silahkan Masukkan Instalasi" (ionChange)="handleInstalasi($event)">
                        <ion-select-option *ngFor="let instalasi of allInstalasi" value="{{instalasi?.name}}">{{instalasi?.name}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
          </ion-col>
         </ion-row>
      </ng-template>
    </ng-container>
    
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size ="2" >No</ion-col>
      <ion-col>Alat</ion-col>
      <ion-col> Jadwal </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngFor="let row of allAlatData; index as i">

    <ion-row>
      <ion-col size ="2" >{{ i + 1 }}</ion-col>
      <ion-col>
        <ng-container [ngSwitch]="row?.owner_id" >
          <ng-container *ngSwitchCase="'1'" [ngTemplateOutlet]="nameDefault"></ng-container>
          <ng-container *ngSwitchDefault [ngTemplateOutlet]="kso"></ng-container>

          <ng-template #nameDefault>
            <ion-label size="small" color="dark"> {{ row?.name }}</ion-label>
          </ng-template>

          <ng-template #kso>
            <ion-label size="small" color="primary"> {{ row?.name }}</ion-label>
          </ng-template>
        </ng-container>

      </ion-col>

      <ion-col>
        <ng-container [ngSwitch]='4'> 
          <ng-container *ngSwitchCase='12' [ngTemplateOutlet]="siapPakaiJadwal"></ng-container>
          <ng-container *ngSwitchCase='11' [ngTemplateOutlet]="siapPakaiJadwal"></ng-container>
          <ng-container *ngSwitchCase='10' [ngTemplateOutlet]="siapPakaiJadwal"></ng-container>
          <ng-container *ngSwitchCase='9' [ngTemplateOutlet]="siapPakaiJadwal"></ng-container>
          <ng-container *ngSwitchCase='8' [ngTemplateOutlet]="siapPakaiJadwal"></ng-container>
          <ng-container *ngSwitchCase='7' [ngTemplateOutlet]="siapPakaiJadwal"></ng-container>
          <ng-container *ngSwitchCase='6' [ngTemplateOutlet]="siapPakaiJadwal"></ng-container>
          <ng-container *ngSwitchCase='5' [ngTemplateOutlet]="siapPakaiJadwal"></ng-container>
          <ng-container *ngSwitchCase='4' [ngTemplateOutlet]="siapPakaiJadwal"></ng-container>
          <ng-container *ngSwitchCase='3' [ngTemplateOutlet]="masaWarningJadwal"></ng-container>
          <ng-container *ngSwitchCase='2' [ngTemplateOutlet]="masaWarningJadwal"></ng-container>
          <ng-container *ngSwitchCase='1' [ngTemplateOutlet]="sedangDalamPerbaikanJadwal"></ng-container>
          <ng-container *ngSwitchCase='0' [ngTemplateOutlet]="sedangDalamPerbaikanJadwal"></ng-container>
          <ng-container *ngSwitchDefault="" [ngTemplateOutlet]="defaultJadwal"></ng-container>
        </ng-container>

        <ng-template #masaWarningJadwal>
          <ion-button size="small" color="warning" >{{row?.details[0].month_diff + " Hari Lagi"}}</ion-button>
        </ng-template>

        <ng-template #defaultJadwal>
          <ion-button size="small" >{{row?.details[0].month_diff + " Hari Lagi"}}</ion-button>
        </ng-template>

        <ng-template #sedangDalamPerbaikanJadwal>
          <ion-button size="small" color="danger" >{{row?.details[0].month_diff + " Hari Lagi"}}</ion-button>
        </ng-template>

        <ng-template #siapPakaiJadwal>
          <ion-button size="small" color="success" >{{row?.details[0].month_diff + " Hari Lagi"}}</ion-button>
        </ng-template>

      </ion-col>

   </ion-row>
  </ion-grid>
  
</ion-content>
