<ion-header [translucent]="true">
  <ion-toolbar mode="md" color="success">
      <ion-title>
          {{formTitle}}
      </ion-title>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid >
    <ion-row>
      <ion-col >No</ion-col>
      <ion-col>Alat</ion-col>
      <ion-col>Status Alat</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngFor="let row of allAlatData; index as i">

    <ion-row  (click)="handleClick($event,row)">
      <ion-col size ="2" >{{ i + 1 }}</ion-col>
      <ion-col>{{ row?.name }}</ion-col>
      <ion-col>
        <ng-container [ngSwitch]="row?.monitoring_status">
          <ng-container *ngSwitchCase=null [ngTemplateOutlet]="default"></ng-container>
          <ng-container *ngSwitchCase='"menunggu_sparepart"' [ngTemplateOutlet]="masaWarning"></ng-container>
          <ng-container *ngSwitchCase='"layak_pakai"' [ngTemplateOutlet]="siapPakai"></ng-container>
          <ng-container *ngSwitchCase='"sedang_dalam_perbaikan"' [ngTemplateOutlet]="sedangDalamPerbaikan"></ng-container>
          <ng-container *ngSwitchCase='"gagal_perbaikan"' [ngTemplateOutlet]="Danger"></ng-container>
        </ng-container>
       
        <ng-template #Danger>
          <ion-button size="small" color="danger">Danger</ion-button>
        </ng-template>

        <ng-template #sedangDalamPerbaikan>
          <ion-button size="small" color="danger">Dalam Perbaikan</ion-button>
        </ng-template>

        <ng-template #masaWarning>
          <ion-button size="small" color="warning" >Warning</ion-button>
        </ng-template>
        <ng-template #siapPakai>
          <ion-button size="small" color="success">Siap Pakai</ion-button>
        </ng-template>

        <ng-template #default>
          <ion-button size="small">nihil</ion-button>
        </ng-template>
        
      </ion-col>
   </ion-row>
  </ion-grid>
  
</ion-content>
