<ion-split-pane contentId="content">
  <ion-menu contentId="content" menuId="first">


    <ion-content>
        
          <div style="height: 180px; transform: rotate(-15deg); border-radius: 10px 10px 10px 50px;
          margin-left: -18px; margin-top: -58px; margin-bottom: 60px; width: 350px; box-shadow: 8px 1px 10px; background-color: green;">
          </div>
          
          <div style="position: absolute; top: 38px; left: 15px; display: flex; align-items: center;">
            <ion-label>
                <h2>MUHAMMAD ARIF</h2>
            <h2>Administrator</h2>
            </ion-label>
        </div>
         


          <ion-list>
              <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
                  <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="selected">
                      <ion-icon name="{{p.icon}}" slot="start"></ion-icon>
                      <ion-label class="text-center">
                          {{p.title}}
                      </ion-label>
                  </ion-item>
              </ion-menu-toggle>
              <ion-item button click="logout()">
                  <ion-icon name="log-out-outline" slot="start"></ion-icon>
                  <ion-button expand="full" (click)="logout()" color="success">Logout</ion-button>
              </ion-item>
          </ion-list>
      </ion-content>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>