<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      {{formTitle}}
  </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="saveData()" [formGroup]="myForm" class="ion-margin">
    <div *ngIf="isLoading" class="ion-text-center alignSpinner">
      <ion-spinner color="primary"></ion-spinner>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="ctm-font-2">Nama Alat</ion-label>
          <ion-item>
              <ion-input [readonly]="true" formControlName="name" type="text" ></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
    </ion-grid>  

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="ctm-font-2 ">Foto Alat</ion-label>
            <img class="center" [src]="this.global.getSantizeUrl(this.imgUrl)" onError="this.src='assets/download.jpeg'"  alt="" >
      </ion-col>
      </ion-row>
    </ion-grid> 


    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="ctm-font-2">Kondisi Alat</ion-label>
          <ion-list>
              <ion-item>
                  <ion-select [(ngModel)]="myForm.form" interface="action-sheet" formControlName="calibration_status" placeholder="Status Kalibrasi">
                      <ion-select-option value="berhasil_kalibrasi">Berhasil Kalibrasi</ion-select-option>
                      <ion-select-option value="gagal_kalibrasi">Gagal Kalibrasi</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="ctm-font-2">File</ion-label>
          <ion-item>
            <a href="{{ uploadedFileUrl }}" target="_blank">{{ uploadedFileUrl }}</a>
            <button uploadButton [uploadComplete]="onComplete" [uploadOptions]="options" [uploader]="uploader" >
              Upload a file...
            </button>
          </ion-item>
      </ion-col>
      </ion-row>
    </ion-grid>  

    <ion-grid>
      <ion-row>
          <ion-col>
              <ion-button type="submit" expand="full" color="success" shape="round" expand="block">Simpan</ion-button>
          </ion-col>
          <ion-col>
              <ion-button expand="full" color="medium" (click)="formClose()" shape="round">Kembali</ion-button>
          </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row> 
        <ion-col>
          <ng-container [ngSwitch]="this.messageMonth">
            <ng-container *ngSwitchCase='false' [ngTemplateOutlet]="hidden"></ng-container>
            <ng-container *ngSwitchCase='true' [ngTemplateOutlet]="show"></ng-container>
          </ng-container>

          <ng-container [ngSwitch]="roles">
            <ng-container *ngSwitchCase="'ADMIN'" [ngTemplateOutlet]="nameDefault"></ng-container>
            <ng-container *ngSwitchCase="'KATIM'" [ngTemplateOutlet]="nameDefault"></ng-container>
            <ng-container *ngSwitchCase="'INSTALASI'" [ngTemplateOutlet]="nameINSTALASI"></ng-container>
            <ng-container *ngSwitchCase="'BPFK'" [ngTemplateOutlet]="nameBPFK"></ng-container>

            <ng-template #nameDefault>
              <ion-button expand="full" color="danger" shape="round" expand="block" (click)="sendNotificationBPFK()">Kirim Notifikasi BPFK</ion-button>
            </ng-template>
            <!-- nameINSTALASI -->
            <ng-template #nameINSTALASI>
              <ion-button expand="full" color="danger" shape="round" expand="block" (click)="sendNotificationADMIN()">Kirim Notifikasi ADMIN</ion-button>
            </ng-template>

            <ng-template #nameBPFK>
            </ng-template>
          </ng-container>

          <ng-template #hidden>
          </ng-template>
          <ng-template #show>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>
