<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      {{formTitle}}
  </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  
  <ion-card>
    <ion-card-header>
       Persentase Alat Terkalibrasi
    </ion-card-header>
  </ion-card>

  <ion-row >
        <ion-grid>
          <ion-row class="ion-justify-content-center">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label color="tertiary" class="ion-text-center">Label</ion-label>
        </ion-row>
      </ion-grid>
      
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label color="warning" class="ion-text-center">Label</ion-label>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label color="success" class="ion-text-center">Label</ion-label>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label color="primary">Label</ion-label>
          </ion-row>
        </ion-grid>
  </ion-row>

  
</ion-content>
