ion-avatar{
    position: absolute;
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-top: 12px;
}

ion-card-title{
    margin-left: 65px;
}

ion-card-subtitle{
    margin-left: 65px;
}