<ion-header [translucent]="true">
  <ion-toolbar mode="md" color="success">
      <ion-title>
        {{ formTitle }}
      </ion-title>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="true"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
   <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
            <ion-card-title>Suction Pump</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="ctm-font-2">Tanggal Kalibrasi : <br> 
            Kalibrasi Ulang :
          <ion-button size="small" fill="clear" color="medium">Details
            <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-button> </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
     <ion-col>
       <ion-card>
         <ion-card-header>
             <ion-card-title>Leukimia Phanotyping</ion-card-title>
         </ion-card-header>
         <ion-card-content>
           <p class="ctm-font-2">Tanggal Kalibrasi : <br> 
             Kalibrasi Ulang :
           <ion-button size="small" fill="clear" color="medium">Details
             <ion-icon name="chevron-down-outline"></ion-icon>
           </ion-button> </p>
         </ion-card-content>
       </ion-card>
     </ion-col>
   </ion-row>
   </ion-grid>

   <ion-grid>
    <ion-row>
     <ion-col>
       <ion-card>
         <ion-card-header>
             <ion-card-title>Blood Pressure Monitor</ion-card-title>
         </ion-card-header>
         <ion-card-content>
           <p class="ctm-font-2">Tanggal Kalibrasi : <br> 
             Kalibrasi Ulang :

              <ion-button size="small" fill="clear" color="medium">Details
                <ion-icon name="chevron-down-outline"></ion-icon>

              </ion-button> 
            </p>
         </ion-card-content>
       </ion-card>
     </ion-col>
   </ion-row>
   </ion-grid>

</ion-content>
