<ion-header [translucent]="true">
  <ion-toolbar mode="md" color="success">
      <ion-title>
          {{formTitle}}
      </ion-title>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="saveData()" [formGroup]="myForm" class="ion-margin">
    <div *ngIf="isLoading" class="ion-text-center alignSpinner">
        <ion-spinner color="primary"></ion-spinner>
    </div>


    <ion-grid>
      <ion-row> 
        <ion-col>
          <ion-label class="ctm-font-2">Pilih Instalasi</ion-label>
          <ion-list>
              <ion-item>
                  <ion-select formControlName="pilih_instalasi" placeholder="Silahkan Masukkan Instalasi" (ionChange)="handleInstalasi($event)">
                      <ion-select-option *ngFor="let instalasi of allInstalasi" value="{{instalasi?.id}}">{{instalasi?.name}}</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
          <ion-col>
              <ion-label class="ctm-font-2">Tanggal</ion-label>
              <ion-item>
                <ion-input [readonly]="true" formControlName="tanggal" id="date"></ion-input>
              </ion-item>
          </ion-col>
      </ion-row>
     </ion-grid> 
  

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="ctm-font-2">Nama Alat</ion-label>
            <ion-item>
                <ion-input type="text" formControlName="nama_alat"></ion-input>
            </ion-item>
        </ion-col>
        </ion-row>
      </ion-grid>  
        
      <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="ctm-font-2">Person in Charge (PIC)</ion-label>
          <ion-list>
            <ion-item>
              <ion-select formControlName="pic" placeholder="Penanggung Jawab" (ionChange)="handleInstalasi($event)">
                <ion-select-option  value="ka.igd">Ka. IGD</ion-select-option>
                <ion-select-option  value="ka.pk">Ka. PK</ion-select-option>
                <ion-select-option  value="ka.anggrek">Ka. Anggrek </ion-select-option>
                <ion-select-option  value="ka.hd">Ka. HD</ion-select-option>
                <ion-select-option  value="ka.poli_kebidanan">Ka. Poli Kebidanan</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
      
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label  class="ctm-font-2">Nomor Seri</ion-label>
                <ion-item>
                    <ion-input  type="text" formControlName="nomer_seri" style="margin: 8px;"></ion-input>
                </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
  
  <ion-grid>
      <ion-row> 
        <ion-col>
          <ion-label  class="ctm-font-2" >Nomer Inventaris</ion-label>
          <ion-item>
              <ion-item>
                  <ion-input formControlName="nomer_inventaris"></ion-input>
              </ion-item>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="ctm-font-2">Kondisi Alat</ion-label>
          <ion-list>
              <ion-item>
                  <ion-select interface="action-sheet" formControlName="kondisi_alat" placeholder="Bagaimana Kondisi Alat" (ionChange)="handleInstalasi($event)">
                      <ion-select-option value="layak_pakai">Layak Pakai</ion-select-option>
                      <ion-select-option value="sedang_dalam_perbaikan">Sedang Dalam Perbaikan</ion-select-option>
                      <ion-select-option value="menunggu_sparepart">Menunggu Sparepart</ion-select-option>
                      <ion-select-option value="selesai_perbaikan">Selesai Perbaikan</ion-select-option>
                      <ion-select-option value="gagal_perbaikan">Gagal Perbaikan</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      </ion-grid>

      <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="ctm-font-2">Status Kalibrasi</ion-label>
          <ion-list>
              <ion-item>
                  <ion-select interface="action-sheet" formControlName="calibration_status" placeholder="Periksa Status Kalibrasi" (ionChange)="handleInstalasi($event)">
                      <ion-select-option value="layak_pakai">Layak Pakai</ion-select-option>
                      <ion-select-option value="tidak_layak_pakai">Tidak Layak Pakai</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      </ion-grid>

      <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="ctm-font-2">Kepemilikan</ion-label>
          <ion-list>
              <ion-item>
                  <ion-select interface="action-sheet" formControlName="owner" placeholder="Kepemilikan Instansi" (ionChange)="handleInstalasi($event)">
                      <ion-select-option value="1">RSUD Dr Pirngadi</ion-select-option>
                      <ion-select-option value="2">PT Saba Indomedika</ion-select-option>
                      <ion-select-option value="3">PT Enseval Medika Prima</ion-select-option>
                      <ion-select-option value="4">Pt Mendjangan</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
              

    <ion-grid>
      <ion-row>
          <ion-col>
              <ion-label class="ctm-font-2">Kalibrasi Awal</ion-label>
              <ion-item>
                <ion-input type="text" formControlName="kalibrasi_awal"></ion-input>
              </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-label class="ctm-font-2">Kalibrasi Ulang</ion-label>
            <ion-item>
              <ion-input type="text" formControlName="kalibrasi_ulang"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-label class="ctm-font-2">Monitoring Awal</ion-label>
            <ion-item>
              <ion-input type="text" formControlName="monitoring_awal"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-label class="ctm-font-2">Type Merk</ion-label>
            <ion-item>
              <ion-input type="text" formControlName="merk_type"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-label class="ctm-font-2">Monitoring Ulang</ion-label>
            <ion-item>
              <ion-input type="text" id="monitoring_ulang" formControlName="monitoring_ulang"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-popover trigger="monitoring_ulang" cssClass="width-80">
        <ng-template>
          <ion-datetime
            presentation="date"
            [(ngModel)]="dateExample"
            size="cover"
            [ngModelOptions]="{standalone: true}"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-grid>

    <ion-grid>
      <ion-row>
          <ion-col>
              <ion-button type="submit" expand="full" color="success" shape="round" expand="block">Simpan</ion-button>
          </ion-col>
          <ion-col>
              <ion-button expand="full" color="medium" shape="round">Kembali</ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
  
  </form>
</ion-content>
