<ion-header [translucent]="true">
  <ion-toolbar mode="md" color="success">
      <ion-title>
          {{formTitle}}
      </ion-title>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="saveData()" [formGroup]="myForm" class="ion-margin">
    <div *ngIf="isLoading" class="ion-text-center alignSpinner">
        <ion-spinner color="primary"></ion-spinner>
    </div>


    <ion-grid>
      <ion-row> 
        <ion-col>
          <ion-label class="ctm-font-2">Pilih Instalasi</ion-label>
          <ion-list>
              <ion-item>
                  <ion-select formControlName="pilih_instalasi" placeholder="Silahkan Masukkan Instalasi" (ionChange)="handleInstalasi($event)">
                      <ion-select-option *ngFor="let instalasi of allInstalasi" value="{{instalasi?.name}}">{{instalasi?.name}}</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
          <ion-col>
              <ion-label class="ctm-font-2">Tanggal</ion-label>
              <ion-item>
                <ion-input [readonly]="true" formControlName="tanggal" id="date"></ion-input>
              </ion-item>
          </ion-col>
      </ion-row>
     </ion-grid> 
  

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="ctm-font-2">Nama Alat</ion-label>
            <ion-item>
                <ion-input type="text" formControlName="nama_alat"></ion-input>
            </ion-item>
        </ion-col>
        </ion-row>
      </ion-grid>  
        
      <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-label class="ctm-font-2">PIC</ion-label>
          <ion-list>
            <ion-item>
              <ion-select formControlName="pic" placeholder="PIC" (ionChange)="handleInstalasi($event)">
                <ion-select-option  value=3>Ka. IGD</ion-select-option>
                <ion-select-option  value=4>Ka. PK</ion-select-option>
                <ion-select-option  value=5>Ka. Anggrek </ion-select-option>
                <ion-select-option  value=6>Ka. HD</ion-select-option>
                <ion-select-option  value=7>Ka. Poli Kebidanan</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          
        </ion-col>


        <ion-col size="6" size-md="4" size-lg="2">
            <ion-label  class="ctm-font-2">Nomor Seri</ion-label>
                <ion-item>
                    <ion-input  type="text" formControlName="nomer_seri" style="margin: 8px;"></ion-input>
                </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
      
      
  
  <ion-grid>
      <ion-row> 
        <ion-col>
          <ion-label  class="ctm-font-2" >Nomer Inventaris</ion-label>
          <ion-item>
              <ion-item>
                  <ion-input formControlName="nomer_inventaris"></ion-input>
              </ion-item>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="ctm-font-2">Kondisi Alat</ion-label>
            <ion-list>
                <ion-item>
                    <ion-select interface="action-sheet" formControlName="kondisi_alat" placeholder="Bagaimana Kondisi Alat" (ionChange)="handleInstalasi($event)">
                        <ion-select-option value="layak_pakai">Layak Pakai</ion-select-option>
                        <ion-select-option value="sedang_dalam_perbaikan">Sedang Dalam Perbaikan</ion-select-option>
                        <ion-select-option value="menunggu_sparepart">Menunggu Sparepart</ion-select-option>
                        <ion-select-option value="sedang_dalam_perbaikan">Sedang dalam Perbaikan</ion-select-option>
                        <ion-select-option value="selesai_perbaikan">Selesai Perbaikan</ion-select-option>
                        <ion-select-option value="gagal_perbaikan">Gagal Perbaikan</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="ctm-font-2">Status Kalibrasi</ion-label>
            <ion-list>
                <ion-item>
                    <ion-select interface="action-sheet" formControlName="calibration_status" placeholder="Periksa Status Kalibrasi" (ionChange)="handleInstalasi($event)">
                        <ion-select-option value="layak_pakai">Layak Pakai</ion-select-option>
                        <ion-select-option value="tidak_layak_pakai">Tidak Layak Pakai</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="ctm-font-2">Kepemilikan</ion-label>
          <ion-list>
              <ion-item>
                  <ion-select interface="action-sheet" formControlName="owner" placeholder="Kepemilikan Instansi" (ionChange)="handleInstalasi($event)">
                      <ion-select-option value="1">RSUD Dr Pirngadi</ion-select-option>
                      <ion-select-option value="2">PT Saba Indomedika</ion-select-option>
                      <ion-select-option value="3">PT Enseval Medika Prima</ion-select-option>
                      <ion-select-option value="4">Pt Mendjangan</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
              

    <ion-grid>
      <ion-row>
          <ion-col>
              <ion-label class="ctm-font-2">Kalibrasi Awal</ion-label>
              <ion-item>
                
                <ion-datetime-button datetime="datetime1"></ion-datetime-button>
  
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime id="datetime1" presentation="date" [showDefaultButtons]="true" [value]="dateValue" formControlName="kalibrasi_awal"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-label class="ctm-font-2">Kalibrasi Ulang</ion-label>
            <ion-item>
              <ion-datetime-button datetime="datetime2"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="datetime2" presentation="date"[showDefaultButtons]="true"[value]="dateValue" formControlName="kalibrasi_ulang"></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-label class="ctm-font-2">Monitoring Awal</ion-label>
            <ion-item>
              <ion-datetime-button datetime="datetime3" color="tertiary"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="datetime3" presentation="date" [showDefaultButtons]="true" [value]="dateValue" formControlName="monitoring_awal"></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-label class="ctm-font-2">Monitoring Ulang</ion-label>
            <ion-item>
              <ion-datetime-button datetime="datetime" color="tertiary"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="datetime" presentation="date" [showDefaultButtons]="true"[value]="dateValue" formControlName="monitoring_ulang"></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-label class="ctm-font-2">Type Merk</ion-label>
            <ion-item>
              <ion-input type="text" formControlName="merk_type"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="ctm-font-2">Sertifikat</ion-label>
          <ion-item>
            <a href="{{ certificateLink }}" target="_blank">{{ certificateLink }}</a>
            <button uploadButton [uploadComplete]="onCompleteCertificate" [uploadOptions]="optionsCertificate" [uploader]="uploaderCertificate" >
              Upload a file...
            </button>
          </ion-item>
      </ion-col>
      </ion-row>
    </ion-grid>  

    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-label class="ctm-font-2">Label</ion-label>
            <ion-item>
              <ion-input type="text" formControlName="label"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="ctm-font-2">Foto</ion-label>
          <ion-item>
            <a href="{{ imageLink }}" target="_blank">{{ imageLink }}</a>
            <button uploadButton [uploadComplete]="onComplete" [uploadOptions]="options" [uploader]="uploader" >
              Upload a file...
            </button>
          </ion-item>
      </ion-col>
      </ion-row>
    </ion-grid>  

    <ion-grid>
      <ion-row>
          <ion-col>
              <ion-button type="submit" expand="full" color="success" shape="round" expand="block">Simpan</ion-button>
          </ion-col>
          <ion-col>
              <ion-button expand="full" color="medium" shape="round">Kembali</ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
  
  </form>
</ion-content>
